body {
  --note-icon-1: url(/img/LevelTwoAdvanced.svg);
  --note-icon-2: url(/img/Shuriken.svg);
  --note-icon-3: url(/img/DrippingSword.svg);
  --note-icon-fallback: url(/img/default-note-icon.svg);}
}
